:root {
  --md-primary-fg-color:        #cc0000;
  --md-primary-fg-color--light: #cc0000;
  --md-primary-fg-color--dark:  #cc0000;
  --md-footer-bg-color: #cc0000;
}

.md-grid {
  max-width: initial;
}
