:root {
  --md-primary-fg-color:        #d8272d;
  --md-primary-fg-color--light: #d8272d;
  --md-primary-fg-color--dark:  #cc0000;
  --md-footer-bg-color:         #cc0000;
}

.md-grid {
  max-width: initial;
}
