:root {
  --md-default-fg-color:               rgb(0,0,0);
  --md-typeset-mark-color:             rgb(0,0,0);
  --md-code-hl-color:                hsla(#{hex2hsl($clr-blue-a200)}, 0.15);


  --md-primary-fg-color:               #d8272d;
  --md-primary-fg-color--light:        #d8272d;
  --md-primary-fg-color--dark:         rgb(255,255,0);
  --md-footer-fg-color:                #d8272d;
  --md-footer-bg-color:                #d8272d;
  --md-footer--fg-color--transparent:  rgb(0,0,29,0.25);
  --md-footer--fg-color--dark:         indigo;

    /* Accent color shades */

  --md-accent-fg-color:                #d8272d;
  --md-accent-fg-color--transparent:   rgb(0,0,29,0.25);
  --md-accent-fg-color--dark:          indigo;

  --md-accent-bg-color:                #d8272d;
  --md-accent-bg-color--light:         rgb(0,0,235,0.5);
}

.md-grid {
  max-width: initial;
}
